{{template "base" .}}

{{define "title"}}Checks{{end}}

{{define "body"}}
<h2>Checks</h2>
<p>There are currently {{len .Checklist}} checks available.</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Interval</th>
      <th>Next Run</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
{{range .Checklist}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Help}}</td>
      <td>{{.Interval}}s</td>
      <td>{{humanDate .Nextrun}}
      <td>{{if .Active}}<i class="far fa-bell tooltip" data-tooltip="check is active"></i>{{else}}<i class="far fa-bell-slash tooltip" data-tooltip="check is not active"></i>{{end}}&nbsp;&nbsp;&nbsp;
          {{if .Success}}<i class="far fa-thumbs-up tooltip" data-tooltip="last run successfull"></i>{{else if .Active}}<i class="far fa-thumbs-down tooltip" data-tooltip="last run not successfull"></i>{{end}}</td>
    </tr>
{{end}}
  </tbody>
</table>
{{end}}