{{define "footer"}}
<br/>
<div align="center">
<p><a href="https://github.com/tobiasdenzler/checkbot" target="_new">GitHub</a> | Version: {{.Configuration.Version}} | Build: {{.Configuration.Build}}</p>
</div>
{{end}}